<div class="form-inline">
  <a (click)="toggleSearchBox()">
    <i class="fas fa-search"></i>
  </a>
    <input type="text" [@openClose]="isOpen ? 'open' : 'closed'" placeholder="Search..." aria-label="Search" matInput  [formControl]="searchControl" [matAutocomplete]="auto"  class="form-control-sm">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="selected($event)">
        {{option | productionTitle}}
      </mat-option>
    </mat-autocomplete>
</div>
