<div>
    <app-movie-navigation [current-page]="currentPage" [movie-id]="movie?.imDbID"></app-movie-navigation>
    <!--Summary-->
    <div class="row jumbotron p-3 p-md-5 text-white rounded bg-dark shadow">
        <div class="col-3 px-0">
            <img class="card-img-right flex-auto d-none d-lg-block shadow-lg border" src="assets/empty.jpg">
        </div>
        <div class="col-9 px-0">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <h3 class="my-0 movie-title">
                        <i class="fas fa-film" *ngIf="movie?.productonType == 1"></i>
                        <i class="fas fa-tv" *ngIf="movie?.productonType == 2"></i>
                        {{movie?.title}} <span *ngIf="movie">({{movie?.year}}<span *ngIf="movie?.EndYear"> - {{movie?.endYear}}</span>)</span>
                        <jm-link *ngIf="movie" [url]="movie?.imdbLink" class="position-absolute ml-2 text-white" target="_blank"><i class="fab fa-imdb"></i></jm-link>
                    </h3>
                    <h4 class="lead mb-0" *ngIf="movie?.originalTitle">{{movie?.originalTitle}}</h4>
                </div>
                <div class="col-md-3 col-sm-12 main-actors">
                    <div class="d-flex flex-column bd-highlight">
                        <div class="p-2 bd-highlight">Flex item 1</div>
                        <div class="p-2 bd-highlight">Flex item 2</div>
                        <div class="p-2 bd-highlight">Flex item 3</div>
                        <div class="p-2 bd-highlight">Flex item 4</div>
                        <div class="p-2 bd-highlight">Flex item 5</div>
                        <div class="p-2 bd-highlight">Flex item 6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-movie-credits [credits]="summaryActingCredits"></app-movie-credits>
</div>