<header class="container shadow mat-elevation-z6">
  <div class="row justify-content-between align-items-center pt-2">
    <div class="col-md-4 col-sm-12 pt-1">

    </div>
    <div class="col-md-4 col-sm-12 text-center">
      <a class="blog-header-logo text-primary-emp" href="#">JMovies</a>
    </div>
    <div class="col-md-4 col-sm-12 d-flex align-items-center header-right">
      <div class="search-panel">
        <app-search></app-search>
      </div>
      <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
    </div>
  </div>
</header>
